<section>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
      veritatis consequatur nulla velit porro eveniet unde assumenda laboriosam
      libero minima ipsa veniam eaque corrupti praesentium, ducimus, illo rem
      dolor tempore? Cumque tempora facere ex laborum nulla. Dolorem eligendi
      omnis eum maxime ipsam soluta, veritatis adipisci delectus laborum officia
      nesciunt temporibus consequatur? Eos impedit sunt ratione quam pariatur
      voluptatum, cum fugiat.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium
      veritatis consequatur nulla velit porro eveniet unde assumenda laboriosam
      libero minima ipsa veniam eaque corrupti praesentium, ducimus, illo rem
      dolor tempore? Cumque tempora facere ex laborum nulla. Dolorem eligendi
      omnis eum maxime ipsam soluta, veritatis adipisci delectus laborum officia
      nesciunt temporibus consequatur? Eos impedit sunt ratione quam pariatur
      voluptatum, cum fugiat.
    </p>
  </article>
</section>
